<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div style="text-align: center;">
        <a href="/meal">
            <h1>급식</h1>
            <img src="static/images/meal.jpg" alt="">
        </a>

        <a href="/discordbot">
            <h1>디코 봇</h1>
            <img src="static/images/discord.png" alt="">
        </a>

        <a href="/email">
            <h1>이?메?일</h1>
            <img src="static/images/email.jpg" alt="">
        </a>
        
    </div>
</body>
</html>