{% block content %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div class="card">
        <div id="md" style="text-align: center;" class="card-body">
            Loading... {{ txt }}
        </div>
    </div>

    <script>
        const noData = "{{ ND }}" == "False" ? false : {{ ND | safe }}
        const menu = {{ txt | safe }}
        var iserror = false
        console.log(menu)
        const md = document.getElementById("md")

        md.innerText = ""
        const date = document.createElement("h1")
        date.innerText = menu.date.replace(/^(\d{4})(\d{2})(\d{2})$/, '$1/$2/$3')
        md.appendChild(date)
        md.appendChild(document.createElement("br"))

        for (let i = 0; i < menu.menu.length; i++) {
            iserror = true
            const m = document.createElement("h2")
            m.innerText = menu.menu[i]
            md.appendChild(m)
        }

        if (!iserror) {
            // URLSearchParams를 사용하여 파싱
            var urlParams = new URLSearchParams(location.search);
            // 'date' 파라미터 값 가져오기
            var dateParam = urlParams.get('date').replace(/^(\d{4})(\d{2})(\d{2})$/, '$1/$2/$3')
            
            const date = document.createElement("h1")
            date.innerText = dateParam
            md.appendChild(date)
            md.appendChild(document.createElement("br"))

            const m = document.createElement("h1")
            m.innerText = JSON.stringify(menu.menu)
            md.appendChild(m)
        }

        if (noData) {
            md.appendChild(document.createElement("br"))

            const nd = document.createElement("div")
            const lmit = document.createElement("h1")
            lmit.innerText = "마지막 급식 정보"
            nd.appendChild(lmit)
            const lm = document.createElement("h2")
            lm.innerText = JSON.stringify(noData)
            nd.appendChild(lm)
            md.appendChild(nd)
        }
    </script>
</body>
</html>
{% endblock %}